//
// Ghost Trick interactive theme
// 
// Copyright © 2023-2024 ocremaker
// 
// Permission is hereby granted, free of charge, to any person obtaining a copy of 
// this software and associated documentation files (the “Software”), to deal in the
// Software without restriction, including without limitation the rights to use, copy,
// modify, merge, publish, distribute, sublicense, and/or sell copies of the Software,
// and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
// 
// The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
// 
// THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
// INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
// PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
// FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
// OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. 
// 

// 
// Example: See examples/themes-showcase.html
// 

@use "../../../config" as C;
@use "../declaration" as theme;

$btn-radius: .2em;
$btn-color: C.$gt-button-color;

@include theme.declare-for('ghost-trick') {
    .themed-section-title, .themed-branch-title {
        display: block;
        width: fit-content;
        min-width: 25ch;
        margin-top: 1em;
        background: white;
        box-shadow: 0 4px 2px -4px black;
        font-size: 120%;
        // Add small trail of shadow
        padding: .5em 5em .5em .5em;
    }
    
    .themed-section-title {
        margin: auto;
        text-align: center;
        padding-right: .5em; // Reset!
    }
    
    .themed-button-list { // Center buttons
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    
    .themed-button, .themed-bullet-regular, .themed-bullet-statement {
        display: inline-block;
        position: relative !important;
        $base-width: 18ch;
        $base-margin: .35ch;
        min-width: $base-width;
        margin: $base-margin;
        line-height: 1.5em;
        padding: .5em 1em;
        color: white;
        background: $btn-color;
        font-weight: bold;
        text-decoration: none;
        border-radius: $btn-radius;
        border-bottom: none;
        box-shadow: black 2px 2px 1px 1px;
        transition: all 0.2s;
        font-family: sans-serif;
        
        &:hover, &:focus {
            margin: 0 .1em 0 .3em;
            vertical-align: -.1em;
            box-shadow: black -.3px -.3px 1px 1px;
        }
        
        &.back-button {
            width: $base-width*2 + $base-margin*2;
            display: block;
            margin: 1.5em auto auto;
        }
        
        .themed-new {
            position: absolute;
            display: block;
            top: -1em;
            left: 19ch;
            font-size: .83em;
            padding-left: .7ch;
            padding-right: .5ch;
            background: $btn-color;
            border-top-left-radius: .5em;
            border-top-right-radius: .5em;
        }
    }
}
