//
// Ace Attorney bullet skin
// 
// Copyright © 2023-2024 ocremaker
// 
// Permission is hereby granted, free of charge, to any person obtaining a copy of 
// this software and associated documentation files (the “Software”), to deal in the
// Software without restriction, including without limitation the rights to use, copy,
// modify, merge, publish, distribute, sublicense, and/or sell copies of the Software,
// and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
// 
// The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
// 
// THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
// INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
// PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
// FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
// OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. 
// 

@use "../declaration" as theme;

@include theme.declare-for('ace-attorney') {
    // Bullets mirror the buttons, so they are defined in investigation.
    .themed-bullet-statement {
        background: radial-gradient(#00000033, transparent), linear-gradient(#0490e1, #0476b9);
        
        &:hover, &:focus {
            background: linear-gradient(#00000033, #00000033), linear-gradient(#0490e1, #0476b9);
        }
        
        &:active {
            background: radial-gradient(#00000011, transparent), linear-gradient(#0490e1, #05a3ff);
            box-shadow: 0 0 2px 0px black;
        }
    }
}
