//
// Ace Attorney interactive theme
// 
// Copyright © 2023-2024 ocremaker
// 
// Permission is hereby granted, free of charge, to any person obtaining a copy of 
// this software and associated documentation files (the “Software”), to deal in the
// Software without restriction, including without limitation the rights to use, copy,
// modify, merge, publish, distribute, sublicense, and/or sell copies of the Software,
// and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
// 
// The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
// 
// THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
// INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
// PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
// FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
// OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. 
// 

// 
// Example: See examples/themes-showcase.html
// 


@use "../declaration" as theme;

@include theme.declare-for('ace-attorney') {
    .themed-section-title, .themed-branch-title {
        display: block;
        width: fit-content;
        min-width: 25ch;
        margin-top: 1em;
        background: white;
        box-shadow: 0 4px 2px -4px black;
        font-size: 120%;
        // Add small trail of shadow
        padding: .5em 5em .5em .5em;
    }
    
    .themed-section-title {
        margin: auto;
        text-align: center;
        padding-right: .5em; // Reset for title
    }
    
    .themed-button-list { // Center buttons
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    
    .themed-button, .themed-bullet-regular, .themed-bullet-statement {
        display: inline-block;
        position: relative !important;
        $base-width: 18ch;
        $base-margin: 1ch;
        width: $base-width;
        text-align: center;
        line-height: 1em;
        background: radial-gradient(#00000033, transparent), linear-gradient(#8c3e1a, #722201);
        color: white;
        text-decoration: none;
        border: solid .15em white;
        box-shadow: 0 0 2px 1px black;
        padding: .5em;
        border-radius: .3em;
        margin: $base-margin;
        transition: all 0.2s;
        font-family: sans-serif;
        
        &:hover, &:focus {
            background: linear-gradient(#00000033, #00000033), linear-gradient(#8c3e1a, #722201);
            
            .themed-new {
                background: #6f3114;
            }
        }
        
        &:active {
            background: radial-gradient(#00000011, transparent), linear-gradient(#8c3e1a, #9c2d01);
            box-shadow: 0 0 2px 0px black;
            
            .themed-new {
                background: #873b19;
            }
        }
        
        &.back-button {
            width: $base-width*2 + $base-margin*2;
            display: block;
            margin: 1.5em auto auto;

            &:before {
                content: "‹ "
            }
        }
        
        .themed-new {
            position: absolute;
            display: block;
            top: -1em;
            left: 19ch;
            font-size: .83em;
            padding-left: .7ch;
            padding-right: .5ch;
            background: #873b19;
            border-top-left-radius: .3em;
            border-top-right-radius: .3em;
        }
    }
    
    .dr-tbo {
        .themed-button {
            // Special fixes for buttons of truth bullets:
            display: block;
            margin: auto;
        }
    }
}
