// 
// Manage and customize fonts.
// 
// Copyright © 2023-2024 ocremaker
// 
// Permission is hereby granted, free of charge, to any person obtaining a copy of 
// this software and associated documentation files (the “Software”), to deal in the
// Software without restriction, including without limitation the rights to use, copy,
// modify, merge, publish, distribute, sublicense, and/or sell copies of the Software,
// and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
// 
// The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
// 
// THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
// INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
// PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
// FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
// OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. 
//

// Implement:
// <details class="setting serif-font"><summary>Use serif font</summary></details>

@use '../settings/_index' as setting;
@use '../settings/slider' as slider;

@include setting.if-true('serif-font') {
    font-family: serif;
}

@include setting.if-false('serif-font') {
    font-family: sans-serif;
}

@include slider.declare('font-size');

@include slider.if-equal('font-size', 1, $max: 6) {
    font-size: 1.2em;
}

@include slider.if-equal('font-size', 2, $max: 6) {
    font-size: 1.45em;
}

@include slider.if-equal('font-size', 3, $max: 6) {
    font-size: 1.75em;
}

@include slider.if-equal('font-size', 4, $max: 6) {
    font-size: 2.1em;
}

@include slider.if-equal('font-size', 5, $max: 6) {
    font-size: 2.5em;
}

@include slider.if-equal('font-size', 6, $max: 6) {
    font-size: 3em;
}
