// 
// AO3 Formatting skin
// 
// Copyright © 2023-2024 ocremaker
// 
// Permission is hereby granted, free of charge, to any person obtaining a copy of 
// this software and associated documentation files (the “Software”), to deal in the
// Software without restriction, including without limitation the rights to use, copy,
// modify, merge, publish, distribute, sublicense, and/or sell copies of the Software,
// and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
// 
// The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
// 
// THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
// INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
// PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
// FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
// OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. 
// 

@use 'colors';
@use 'font';

.center {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.inline {
    display: inline;
}

.hr {
    margin-top: 15px;
    display: block;
    border-top: 1px solid #aaa;
}

.quote {
    display: block;
    margin-left: 10px;
}

.red {
    color: red;
}

.gray {
    color: gray;
}

.high-voice {
    display: block;
    font-size: 1.4em;
    letter-spacing: 3.5pt;
}

.vampire {
    font-size: 1.5em;
    font-family: serif;
    letter-spacing: 2pt;
}

.verdict {
    width: 100%;
    display: inline-block;
    font-size: 5em;
    font-weight: bold;
    font-family: serif;
    letter-spacing: 30pt;
    text-align: center;
}
