// 
// List of parameters.
// Configure them to change how the skins are built.
// 
@use "sass:map";

// ┌────────────────┐
// │ Choices config │
// └────────────────┘

// Maximum number of choices that can be made per chapter.
$choice-count: 20;
// Maximum number of branches that can be made per choice. 
$branch-count: 25;

// Separator used in links to separate states and from one and other and from choices.
// In order to keep compatibility with choices version 2.0, set to ''.
$states-separator: '+';
// Maximum number of states that can be toggled. 
$states-count: 7;

// ┌───────────────┐
// │ Themes config │
// └───────────────┘

// Enable and disable themes here.
$enabled-themes: (
    'default': true,
    'ace-attorney': true,
    'danganronpa': true,
    'ghost-trick': true
);

// Possible alternate theme available via a setting.
$alternate-theme: 'none';

// ┌────────────────────┐
// │ Danganronpa config │
// └────────────────────┘

// Duration length of the bullet smashing animation.
$bullet-smash-animation-duration: 1s;

// ┌────────────────────┐
// │ Ghost Trick config │
// └────────────────────┘

// Color of the buttons
$gt-button-color: #f45c00;

// Duration of the rewind time animation
$rewind-time-animation-duration: 3.3s;

// Duration of the reset animation
$reset-animation-duration: 3.65s;

// Duration of the return to the present animation
$return-to-the-present-animation-duration: 2.5s;
