// 
// Code for the buttons
// 
// Copyright © 2023-2024 ocremaker
// 
// Permission is hereby granted, free of charge, to any person obtaining a copy of 
// this software and associated documentation files (the “Software”), to deal in the
// Software without restriction, including without limitation the rights to use, copy,
// modify, merge, publish, distribute, sublicense, and/or sell copies of the Software,
// and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
// 
// The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
// 
// THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
// INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
// PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
// FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
// OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. 
// 

// 
// Example: See examples/gt-btn-example.html.
// 

$display-duration: 0.3s;

.gt-core {
    display: inline-block;
    width: 6ch;
    height: 6ch;
    background: url(https://ocremaker-ao3.gitlab.io/images/gt/core.png);
    vertical-align: bottom;
    border-bottom: none;
    
    &.gt-core-talk {
        background: url(https://ocremaker-ao3.gitlab.io/images/gt/core-talk.png);
    }
}

$size: 18ch;

.gt-move {
    overflow: hidden;
    
    & > .gt-core-description {
        display: inline-block;
        position: relative;
        width: $size;
        opacity: 0;
        transition: all $display-duration ease-in;
        height: 3em;
        z-index: -1;
        
        & > .gt-title {
            display: inline;
            margin: .25em;
            font-weight: 700;
        }
        
        & > .gt-sep {
            display: block;
            margin: .25em;
            width: $size - .5ch;
            border: 1px solid #aaa;
            transition: all $display-duration ease-in;
        }
        
        & > .gt-action {
            display: inline;
            margin: .25em;
        }
    }
    
    &:not(.top):not(.top-right):not(.right):not(.bottom-right) > .gt-core-description {
        margin-right: -5em;
        
        & > .gt-sep { margin-left: $size; }
    }
    
    &:not(.top):not(.top-right):not(.right):not(.bottom-right):is(:hover, :focus) > .gt-core-description {
        margin-right: 0;
        opacity: 1;
        
        & > .gt-sep { margin-left: 0ch; }
    }
    
    &:not(.bottom):not(.left):not(.top-left):not(.bottom-left) > .gt-core-description {
        margin-left: -5em;
        
        & > .gt-sep { margin-left: -$size; }
    }
    
    &:not(.bottom):not(.left):not(.top-left):not(.bottom-left):is(:hover, :focus) > .gt-core-description {
        margin-left: 0;
        opacity: 1;
        
        & > .gt-sep { margin-left: 0ch; }
    }
}
                

