// 
// Code for the buttons
// 
// Copyright © 2023-2024 ocremaker
// 
// Permission is hereby granted, free of charge, to any person obtaining a copy of 
// this software and associated documentation files (the “Software”), to deal in the
// Software without restriction, including without limitation the rights to use, copy,
// modify, merge, publish, distribute, sublicense, and/or sell copies of the Software,
// and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
// 
// The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
// 
// THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
// INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
// PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
// FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
// OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. 
// 

// 
// Example: See examples/gt-btn-example.html.
// 


@use 'sass:math';
@use "../../config" as C;

$possessed-width: 40ch;
$possessed-padding: 0;
$possessed-height: 5em;
$btn-radius: .2em;

#workskin {
    
    .gt-ghost-world-section {
        width: 100%;
        display: block;
        position: relative;
        overflow-x: scroll;
        white-space: nowrap;
        
        .gt-ghost-world-scrollable {
            // Create an at least 40ch (~207px at 12px sans serif) wide and tall around the current possessed object evidence.
            display: block;
            padding: 6em 27ch;
            width: $possessed-width+($possessed-padding*2);
            font-family: sans-serif;
            font-size: .9em;
            margin: 1em auto;
            
            & br {
                display: none; // Hide all break lines.
            }
            
            & > .gt-possessed {
                // Contains one title (for the object), one line separating, and one (optional) action button.
                width: $possessed-width;
                height: $possessed-height;
                display: block;
                background: #eee;
                border-radius: 0.2em;
                box-shadow: #eee 0 0 20px 15px;
                padding: $possessed-padding;
                    
                &:before {
                    content: " ";
                    display: inline-block;
                    background: url(https://ocremaker-ao3.gitlab.io/images/gt/fire.png);
                    background-size: .5em 1em;
                    width: .5em;
                    height: 1em;
                    margin-inline: .25ch;
                    font-size: $possessed-height;
                }
                
                & > .gt-possessed-content {
                    display: inline-block;
                    width: 100%;
                    vertical-align: top;
                    
                    & > .gt-title {
                        display: block;
                        font-size: 1.4em;
                        font-weight: 700;
                        margin-left: .5em;
                    }
                    
                    & > .gt-sep {
                        margin: .5em;
                        display: block;
                        border: 1px solid #aaa;
                        width: 25ch;
                    }
                    
                    & > .themed-button {
                        width: fit-content;
                        margin-left: .5em;
                        padding: 0 1em 0 0;
                        min-width: unset;
                    
                        .gt-label {
                            display: inline-block;
                            background: white;
                            color: black;
                            border-top-left-radius: $btn-radius;
                            border-bottom-left-radius: $btn-radius;
                            margin-right: 1em;
                            padding: .5em;
                        }
                    }
                }
            }
            
            & .gt-move { // Not always a direct child, as there may be span states filters.
                position: absolute;
                display: block;
                $mv-container-width: 25ch;
                $margin-top: 5em;
                $margin-bottom: 2em;
                $margin-sides: 3ch;
                width: $mv-container-width;
                
                &.top-left {
                    margin-top: -$margin-top;
                    margin-left: -$mv-container-width - $margin-sides;
                    text-align: right;
                }
                
                &.top {
                    margin-top: -$margin-top;
                    margin-left: math.div($possessed-width+($possessed-padding*2), 2) - 3ch;
                    text-align: left;
                }
                
                &.top-right {
                    margin-top: -$margin-top;
                    margin-left: $possessed-width + ($possessed-padding*2) + $margin-sides;
                }
                
                &.left {
                    margin-top: math.div($possessed-height, 2) - 1.325em; // ~Half of button height.
                    margin-left: -$mv-container-width - $margin-sides;
                    text-align: right;
                }
                
                &.right {
                    margin-top: math.div($possessed-height, 2) - 1.325em; // ~Half of button height.
                    margin-left: $possessed-width + ($possessed-padding*2) + $margin-sides;
                }
                
                &.bottom-left {
                    margin-top: $possessed-height + $margin-bottom;
                    margin-left: -$mv-container-width - $margin-sides;
                    text-align: right;
                }
                
                &.bottom {
                    margin-top: $possessed-height + $margin-bottom;
                    margin-left: math.div($possessed-width+($possessed-padding*2), 2) - 22ch;
                    text-align: right;
                }
                
                &.bottom-right {
                    margin-top: $possessed-height + $margin-bottom;
                    margin-left: $possessed-width + ($possessed-padding*2) + $margin-sides;
                }
            }
        }
    }
}
