// 
// Code for the buttons
// 
// Copyright © 2023-2024 ocremaker
// 
// Permission is hereby granted, free of charge, to any person obtaining a copy of 
// this software and associated documentation files (the “Software”), to deal in the
// Software without restriction, including without limitation the rights to use, copy,
// modify, merge, publish, distribute, sublicense, and/or sell copies of the Software,
// and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
// 
// The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
// 
// THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
// INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
// PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
// FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
// OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. 
// 

// 
// Example: See examples/gt-modal-example.html.
// 

@use "../../config" as C;

$s-s: C.$states-separator;
$rwt-time: C.$rewind-time-animation-duration;
$rst-time: C.$reset-animation-duration;
$rtp-time: C.$return-to-the-present-animation-duration;
$btn-color: C.$gt-button-color;
$height: 450px;

#workskin {
    .gt-modal {
        display: block;
        position: relative;
        margin-inline: auto;
        top: ($height - 60px); // Hide above button.
        background: black;
        // Transitions
        visibility: visible;
        width: 0;
        height: 0;
        opacity: 1;
        z-index: 1;
    
        &.gt-rewind-modal {
            background: url(https://ocremaker-ao3.gitlab.io/images/gt/rewind.gif);
            transition: opacity 0.2s linear $rwt-time, height 0s, width 0s, margin-top 0s, z-index 0s linear ($rwt-time+0.2s);
        }
    
        &.gt-return-present-modal {
            background: url(https://ocremaker-ao3.gitlab.io/images/gt/rewind.gif);
            transition: opacity 0.2s linear $rtp-time, height 0s, width 0s, margin-top 0s, z-index 0s linear ($rtp-time+0.2s);
        }
    }
    
    [name*='#{$s-s}rwt#{$s-s}']:target ~ .gt-rewind-modal,
    [name*='#{$s-s}rwt#{$s-s}']:target ~ span .gt-rewind-modal,
    [name*='#{$s-s}rst#{$s-s}']:target ~ .gt-reset-modal,
    [name*='#{$s-s}rst#{$s-s}']:target ~ span .gt-reset-modal,
    [name*='#{$s-s}rtp#{$s-s}']:target ~ .gt-return-present-modal,
    [name*='#{$s-s}rtp#{$s-s}']:target ~ span .gt-return-present-modal {
        opacity: 0;
        width: 800px;
        height: $height;
        z-index: -1;
        margin-top: -$height;
    }
    
    // Four mintes before death section.
    // Only displayed after rewind time modal is shown.
    .gt-big-title {
        font-size: 150%;
        // color: white;
        // $border: solid 2px black;
        // border-top: $border;
        // border-bottom:  $border;
        // background: linear-gradient(to right, white, white 15%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0) 65%, white 85%), linear-gradient(#f45c00, #D01200);
        // box-shadow: 0 10px 10px #ddd;
    }
    
    .gt-four-mins-before-death-section,
    .gt-post-return-present-section {
        opacity: 0;
        position: absolute;
        transition: opacity 0.2s linear ($rwt-time+0.2s);
    }
    
    .gt-first-letter {
        font-size: 130%;
    }
        
    [name*='#{$s-s}rwt#{$s-s}']:target ~ .gt-four-mins-before-death-section,
    [name*='#{$s-s}rwt#{$s-s}']:target ~ span .gt-four-mins-before-death-section {
        opacity: 1;
        position: relative;
        display: block;
        z-index: 0;
    }
    
    [name*='#{$s-s}rwt#{$s-s}']:target ~ .gt-rwt-btn,
    [name*='#{$s-s}rwt#{$s-s}']:target ~ span .gt-rwt-btn {
        display: none;
    }
    
    [name*='#{$s-s}rtp#{$s-s}']:target ~ .gt-post-return-present-section,
    [name*='#{$s-s}rtp#{$s-s}']:target ~ span .gt-post-return-present-section {
        opacity: 1;
        position: relative;
        display: block;
        z-index: 0;
    }
}
