//
// Danganronpa bullet skin
// 
// Copyright © 2023-2024 ocremaker
// 
// Permission is hereby granted, free of charge, to any person obtaining a copy of 
// this software and associated documentation files (the “Software”), to deal in the
// Software without restriction, including without limitation the rights to use, copy,
// modify, merge, publish, distribute, sublicense, and/or sell copies of the Software,
// and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
// 
// The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
// 
// THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
// INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
// PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
// FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
// OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. 
// 

// 
// Example: See examples/themes-showcase.html.
// 

@use "../../../config" as C;
@use "../declaration" as theme;

$s-s: C.$states-separator;

@include theme.declare-for('danganronpa') {
    .themed-bullet-regular, .themed-bullet-statement {
        display: block;
        $height: 65px;
        height: $height;
        width: 325px;
        background-image: url("https://ocremaker-ao3.gitlab.io/images/dr/bullet/large-gray.png");
        background-size: 325px $height;
        color: black;
        text-align: center;
        line-height: $height;
        font-family: serif;
        
        
        &:hover, &:focus {
            margin-left: 1em;
        }
    }
    
    .themed-branch-title > .themed-bullet-regular {
        display: inline-block;
    }
    
    // Custom image for selected bullet
    // @for $branch from 1 through C.$branch-count {
    //     & a[name^='choice-'][name*='-#{$branch}#{$s-s}']:target ~ :is(span, p, div) .themed-bullet-regular[href^='#choice-'][href*='-#{$branch}#{$s-s}'] {
    //         // Add specific stylings for selected bullet
    //         // background-image: url("https://ocremaker-ao3.gitlab.io/images/dr/bullet/large.png");
    //     }
    // }
    
    .themed-bullet-statement, .themed-bullet-statement:hover {
        background-image: url("https://ocremaker-ao3.gitlab.io/images/dr/bullet/large-blue.png");
    }
}

