//
// Danganronpa investigation theme
// 
// Copyright © 2023-2024 ocremaker
// 
// Permission is hereby granted, free of charge, to any person obtaining a copy of 
// this software and associated documentation files (the “Software”), to deal in the
// Software without restriction, including without limitation the rights to use, copy,
// modify, merge, publish, distribute, sublicense, and/or sell copies of the Software,
// and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
// 
// The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
// 
// THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
// INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
// PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
// FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
// OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. 
// 

// 
// Example: See examples/themes-showcase.html.
// 

@use "../declaration" as theme;

$accent-color: #c54481;

@include theme.declare-for('danganronpa') {
    .themed-section-title, .themed-branch-title {
        display: block;
        width: fit-content;
        min-width: 25ch;
        margin-top: 1em;
        background: white;
        box-shadow: 0 4px 2px -4px black;
        font-size: 120%;
        // Add small trail of shadow
        padding: .5em 5em .5em .5em;
    }
    
    // Ribbon style title, not quite as clean looking.
    // .themed-section-title, .themed-branch-title { 
    //     display: block;
    //     padding: 0.5em;
    //     color: white;
    //     text-align: center;
    //     width: 24em;
    //     $max-background: 19.2em;
    //     background: radial-gradient(#0001, transparent 55%),
    //                 linear-gradient(135deg, transparent 1.6em, black 1.7em, #38b6e8 1.7em, #46cafe $max-background - 1.7em, 
    //                                 black $max-background - 1.7em, transparent $max-background - 1.6);
    // }
    
    $base-btn-width: 40ch;
    
    .themed-button {
        display: block;
        width: $base-btn-width;
        line-height: 1.2em;
        text-align: left;
        background: linear-gradient(to right, #eee, #eee 15%, white 90%);
        color: black;
        text-decoration: none;
        border: solid 1px #888;
        border-left: none;
        border-top: none;
        padding: 1em;
        $radius: 2em;
        border-top-right-radius: $radius;
        border-bottom-right-radius: $radius;
        transition: all 0.2s, color 0s;
        font-family: sans-serif;
        
        
        &:hover, &:focus, &:active {
            background: linear-gradient(to right, $accent-color, $accent-color 15%, transparent 90%);
            border: none;
            width: $base-btn-width*1.3;
            color: white;
            padding-left: 2em;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        
        &:active {
            background: linear-gradient(to right, #ec7fbe 0%, $accent-color 2em, $accent-color 20%, transparent 100%);
            // background: linear-gradient(to left, transparent 0%, $accent-color 20%, $accent-color 30%, #ff89cd 90%);
            width: $base-btn-width*1.5;
        }
        
        .themed-new {
            float: right;
        }
        
        &.back-button {
            margin-top: 1em;
        }
    }
    
    .dr-tbo {
        .themed-button {
            // Special fixes for buttons of truth bullets:
            border-radius: 2em;
        }
    }
}

