// 
// Code for music blocks
// 
// Copyright © 2023-2024 ocremaker
// 
// Permission is hereby granted, free of charge, to any person obtaining a copy of 
// this software and associated documentation files (the “Software”), to deal in the
// Software without restriction, including without limitation the rights to use, copy,
// modify, merge, publish, distribute, sublicense, and/or sell copies of the Software,
// and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
// 
// The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
// 
// THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
// INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
// PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
// FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
// OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. 
// 

// 
// Example: See examples/music.html.
// 

.music {
    display: block;
    margin-left: 10px;
    color: #666;
    
    &:before {
        content: "♬ ";
    }
    
    a {
        display: inline-block;
        vertical-align: middle;
        font-size: .7em;
        text-align: center;
        text-decoration: none !important;
        
        &.yt {
            border: solid 1px #666;
            border-radius: 6px;
            background: red;
            color: white;
            width: 5ch;
        }
        
        &.invidious {
            background: url(https://handwiki.org/wiki/images/thumb/a/a0/Invidious-logo.svg/480px-Invidious-logo.svg.png);
            background-size: 1.8em;
            width: 1.8em;
            height: 1.8em;
            color: transparent;
        }
    }
}
