//
// Default text based skin
// 
// Copyright © 2023-2024 ocremaker
// 
// Permission is hereby granted, free of charge, to any person obtaining a copy of 
// this software and associated documentation files (the “Software”), to deal in the
// Software without restriction, including without limitation the rights to use, copy,
// modify, merge, publish, distribute, sublicense, and/or sell copies of the Software,
// and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
// 
// The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
// 
// THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
// INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
// PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
// FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
// OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. 
// 

// 
// Example: See examples/themes-showcase.html.
// 

@use "../declaration" as theme;

@include theme.declare-for('default') {
    .themed-bullet-regular, .themed-bullet-statement {
        display: block;
        line-height: 1.5em;
    
        &::before {
            // From .dr-bullet
            content: " ";
            display: inline-block;
            vertical-align: middle;
            width: 42.5px;
            height: 15px;
            margin-inline: 1ch;
            background-image: url("https://ocremaker-ao3.gitlab.io/images/dr/bullet/small.png");
            background-size: 42.5px 15px;
        }
    }
    
    .themed-bullet-statement {
        display: block;
        color: #00a3fb;
        
        &::before {
            background-image: url("https://ocremaker-ao3.gitlab.io/images/dr/bullet/small-blue.png");
        }
    }
}
