//
// Base styling for themes
// 
// Copyright © 2023-2024 ocremaker
// 
// Permission is hereby granted, free of charge, to any person obtaining a copy of 
// this software and associated documentation files (the “Software”), to deal in the
// Software without restriction, including without limitation the rights to use, copy,
// modify, merge, publish, distribute, sublicense, and/or sell copies of the Software,
// and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
// 
// The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
// 
// THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
// INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
// PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
// FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
// OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. 
// 

// 
// Example: See examples/themes-showcase.html.
// 

@use "../../config" as C;
$s-s: C.$states-separator;

#workskin {
    .themed-button-list {
        br { display: none; } // Hide unnecessary brs.
        .quote br {display: inline;}
    }
    
    .themed-section-title {}
    
    .themed-branch-title {}
    
    .themed-button {
        &.back-button {}
        .themed-new {}
    }
    
    @for $choicenum from 1 through C.$choice-count {
        & a[name^='choice-#{$choicenum}-']:target ~ :is(span, p, div) .themed-bullet-regular:not([href^='#choice-#{$choicenum}-']),                                                                                                   
        & a[name^='choice-#{$choicenum}-']:target ~ :is(span, p, div) .themed-bullet-statement:not([href^='#choice-#{$choicenum}-']) {
           margin: unset !important;
        }
    }
    
    @for $branch from 1 through C.$branch-count {
        & a[name^='choice-'][name*='-#{$branch}#{$s-s}']:target ~ :is(span, p, div) .themed-bullet-regular[href^='#choice-'][href*='-#{$branch}#{$s-s}'],                                                                                                   
        & a[name^='choice-'][name*='-#{$branch}#{$s-s}']:target ~ :is(span, p, div) .themed-bullet-statement[href^='#choice-'][href*='-#{$branch}#{$s-s}'] {   
           margin-inline: 2em;
        }
    }
}
