//
// Mixin and macros for Themes
// 
// Copyright © 2023-2024 ocremaker
// 
// Permission is hereby granted, free of charge, to any person obtaining a copy of 
// this software and associated documentation files (the “Software”), to deal in the
// Software without restriction, including without limitation the rights to use, copy,
// modify, merge, publish, distribute, sublicense, and/or sell copies of the Software,
// and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
// 
// The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
// 
// THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
// INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
// PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
// FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
// OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. 
// 

// 
// Example: See examples/themes-showcase.html.
// 

@use "sass:map";
@use "../../config" as C;
@use "../settings" as setting;

@mixin declare-for($theme-name) {
    @if map.get(C.$enabled-themes, $theme-name) {
        // Theme can be used as default theme for a chapter.
        @if C.$alternate-theme == 'none' {
            // Do not care for the alternate theme.
            #workskin p.theme-#{$theme-name} {
                @content;
            }
        } @else {
            // Take the alternate theme into account.
            @include setting.if-false('alternate-theme') {
                &.theme-#{$theme-name} {
                    @content;
                }
            }
        }
    }
    @if C.$alternate-theme == $theme-name {
        // Theme is the available alternate theme for a chapter.
        @include setting.if-true('alternate-theme') {
            @content;
        }
    }
}
