// 
// Code for the 'truth bullet obtained' sections
// 
// Copyright © 2023-2024 ocremaker
// 
// Permission is hereby granted, free of charge, to any person obtaining a copy of 
// this software and associated documentation files (the “Software”), to deal in the
// Software without restriction, including without limitation the rights to use, copy,
// modify, merge, publish, distribute, sublicense, and/or sell copies of the Software,
// and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
// 
// The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
// 
// THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
// INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
// PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
// FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
// OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. 
// 

// 
// Example: See examples/dr-tbo-example.html.
// 

#workskin {
    .dr-tbo {
        width: 70ch;
        display: block;

        // Examine button
        & > .dr-tbo-examine {
            display: block;
            margin: auto;
            // The rest is handled by themed-button. Just centered.
        }

        // The borders
        .dr-tbo-border {
            width: 100%;
            display: inline-block;
            transform: scaleY(0.9);
            color: #555;
            font-size: .8em;
            height: 1em;
            font-weight: bold;
            
            // The border line itself.
            &:before {
                content: '';
                position: absolute;
                margin-top: .5em;
                border: 1px solid #888;
                width: 100%;
            }
            
            // The text within the border.
            & > span {
                left: 5ch;
                padding-left: 1ch;
                padding-right: 1ch;
                background: white;
                position: absolute;
                font-family: sans-serif;
            }
        }

        // The yellow bullets
        .dr-large-bullet {
            margin-left: 15ch;
            position: relative;
            
            & > img {
                width: 325px;
                height: 65px;
            }
            
            & > span {
                position: absolute;
                left: 0;
                top: -30px;
                width: 300px;
                text-align: center;
                font-size: 1.3em;
                font-family: serif;
                letter-spacing: 2px;
            }
        }
    }
}
