// 
// CSS to throw truth bullets at a statement.
// Image notes: sans-serif weight=960 #d7a600, size=62px.
// Edit in a photo editing software (like GIMP), add a drop shadow for the outline & 3D Transform the text with Y: -45°
// 
// Copyright © 2023-2024 ocremaker
// 
// Permission is hereby granted, free of charge, to any person obtaining a copy of 
// this software and associated documentation files (the “Software”), to deal in the
// Software without restriction, including without limitation the rights to use, copy,
// modify, merge, publish, distribute, sublicense, and/or sell copies of the Software,
// and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
// 
// The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
// 
// THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
// INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
// PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
// FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
// OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. 
// 
// Example:
// <a name="ev2"></a>
// <a href="#ev2" class="dr-valid-refutable">The symbols prove you're the only one!<img class="dr-truth-bullet" src='evidence.png'></img></a>
// 
// When the user clicks the link, the evidence will be thrown at them.
// NOTE: If the text that can be refuted is too short, you can add the 'offset-plus-10' to the dr-valid-refutable to move the bullet hole closer to the left.

@use 'sass:math';
@use "../../config" as C;

$timing: C.$bullet-smash-animation-duration;
$s-s: C.$states-separator;

#workskin {
    a.dr-valid-refutable {
        &::after {
            content: "";
            opacity: 0;
            display: none;
            position: absolute;
            background: url('https://ocremaker-ao3.gitlab.io/images/dr/bullet/hole.png') 0 0 no-repeat;
            background-size: 142px 120px;
            width: 142px;
            height: 130px;
            transform: scale(1);
            transition: opacity 0.02s;
            transition-delay: (1 + $timing * .7);
            z-index: 0;
            margin: -45px 0 -25ch 0;
        }
        
        & > img.dr-truth-bullet {
            opacity: 0;
            display: none;
            position: absolute;
            transform-style: preserve-3d;
            transform: scale(1);
            margin: -40px 0 -10ch 0;
            z-index: 1; /* z-index hack because z dimension isn't working properly */
            // transition: transform $timing cubic-bezier(0.36, 0, 0.66, -0.56) 0s, z-index 0.01s ease-in ($timing * 0.865);
            transition: margin-left $timing ease-in 1s, margin $timing ease-in 1s, transform $timing ease-in 1s, z-index 0.01s ease-in (1 + $timing * .73);
        }
        
        
        &.offset-plus-10::after { margin-left: -15ch; }
        &.offset-plus-10 > img.dr-truth-bullet { margin-left: 0ch; }
    }
    
    // Choices integrations
    
    // Allow to be displayed for correct choice
    @for $choicenum from 1 through C.$choice-count  {
        & a[name^='choice-#{$choicenum}']:target {
            & ~ a.dr-valid-refutable[href^='#choice-#{$choicenum}'], & ~ span a.dr-valid-refutable[href^='#choice-#{$choicenum}'] {
                &::after, & > .dr-truth-bullet {
                    display: unset;
                }
            }
        }
    }
    
    // Right branch
    @for $branch from 1 through C.$branch-count {
        & a[name^='choice-'][name*='-#{$branch}#{s-s}']:target {
            & ~ a.dr-valid-refutable[href^='#choice-'][href*='-#{$branch}#{s-s}'], & ~ span a.dr-valid-refutable[href^='#choice-'][href*='-#{$branch}#{s-s}']{
                &::after {
                    opacity: 0.9;
                }                
                & > .dr-truth-bullet {
                    opacity: 1;
                    z-index: -1;
                    transform: scale(0);
                    margin-left: -55ch;
                }
                &.offset-plus-10 > .dr-truth-bullet {// Offsets
                    margin-left: -45ch;
                }
            }
        }
    }
}
