// 
// Main danganronpa stuff
// 
// Copyright © 2023-2024 ocremaker
// 
// Permission is hereby granted, free of charge, to any person obtaining a copy of 
// this software and associated documentation files (the “Software”), to deal in the
// Software without restriction, including without limitation the rights to use, copy,
// modify, merge, publish, distribute, sublicense, and/or sell copies of the Software,
// and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
// 
// The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
// 
// THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
// INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
// PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
// FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
// OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. 
// 

// 
// General stuff for the Danganronpa fanfics.
// To be used in combination with the Options Skin.
// 
// Disables underlines for choice links.
// Display a bullet using <i class="dr-bullet></i>.
// Display a picker choice using <a href="#choice<c>-<b>" class="dr-statement-picker"></a>.
// 
// Moved to themes

#workskin {
    .dr-bullet {
        display: inline-block;
        vertical-align: middle;
        width: 42.5px;
        height: 15px;
        margin-right: 1ch;
        margin-left: 1ch;
        background-image: url("https://ocremaker-ao3.gitlab.io/images/dr/bullet/small.png");
        background-size: 42.5px 15px;
    }
    
    .dr-statement-picker:before {
        display: inline-block;
        vertical-align: middle;
        width: .8em;
        height: 1.5em;
        margin-left: .5ch;
        content: "";
        background: url(https://ocremaker-ao3.gitlab.io/images/dr/bullet/pick.png);
        background-size: .8em;
        background-repeat: space;
    }
    
    a[href^="#choice"] {
        text-decoration: none;
        border-bottom: none;
    }
}
