// 
// Danganronpa accusation showreel
// 
// Copyright © 2023-2024 ocremaker
// 
// Permission is hereby granted, free of charge, to any person obtaining a copy of 
// this software and associated documentation files (the “Software”), to deal in the
// Software without restriction, including without limitation the rights to use, copy,
// modify, merge, publish, distribute, sublicense, and/or sell copies of the Software,
// and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
// 
// The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
// 
// THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
// INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
// PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
// FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
// OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. 
// 

#workskin {

    .showreel {
        position: relative;
        width: 100%;
        display: block;
        
        &::before, &::after {
            content: "";
            position: absolute;
            z-index: 1;
            top: 0;
            width: 10%;
            height: 18em;
            background-image: linear-gradient(to left, transparent, white 70%);
        }
        
        &::after {
            right: 0;
            background-image: linear-gradient(to right, transparent, white 70%);
        }
        
        .showreel-scrollable {
            white-space: nowrap;
            overflow-x: scroll;
            overflow-y: hidden;
            display: block;
            padding-top: 1em;
            padding-bottom: 1em;
            padding-left: 5%;
        
            & > span {
                display: inline-block;
                border: solid 1px black;
                border-radius: 1em;
                white-space: initial;
                padding: 1em;
                margin-inline: 3em;
                position: relative;
            }
        }
    }

    .accuse-card {
        width: 40ch;
        height: 14em;
        
        .top {
            height: 7em;
            line-height: 1.5em;
            display: block;
            margin-bottom: 1.2em;
            
            :is(span, img) {
                display: inline-block;
                height: 7em;
                vertical-align: middle;
                margin-right: 1em;
            }
            
            span {
                padding-top: .5em;
            }
        }
        
        a {
            width: 100%;
            display: block;
            text-align: center;
            height: 2em;
            position: absolute;
            left: 0;
            bottom: .5em;
        }
    }
}
