//
// Allows to create sliders using details.
// 
// Copyright © 2023-2024 ocremaker
// 
// Permission is hereby granted, free of charge, to any person obtaining a copy of 
// this software and associated documentation files (the “Software”), to deal in the
// Software without restriction, including without limitation the rights to use, copy,
// modify, merge, publish, distribute, sublicense, and/or sell copies of the Software,
// and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
// 
// The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
// 
// THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
// INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
// PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
// FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
// OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. 
// 

// Allows for setting that increases/decreases.
// Uses multiple details in succession.

@use "sass:string";

details.slider {
    &, & + .last-label {
        display: none;
    }
    
    & > summary {
        cursor: pointer;
        list-style: none;
        
        &::before, &::after {
            // Plus/minus butotns.
            display: inline-block;
            width: 1ch;
            text-align: center;
            padding-left: .5ch;
            padding-right: .5ch;
            color: black;
            font-size: 1rem;
            border: solid 1px black;
            border-radius: 5px;
        }
    }
    
    // Display if
    &[open] + &:not([open]), // Not checked, and the previous is checked
    &[open]:has(+ :not([open])) { // Checked, and the next is not {
        display: inline;
    }
    
    &[open] > summary {
        color: transparent; // Hide text.
        
        &::before {content: '<';} // Minus button
    }
    
    &:not([open]) > summary::after { // Plus button
        content: '>';
        margin-left: 1ch;
    }
}

@mixin declare($setting-name) {
    :nth-child(1 of details.slider.#{$setting-name}):not([open]),// First one, not checked
    :nth-last-child(1 of details.slider.#{$setting-name})[open] + .last-label /* Show the last label */ {
        display: inline;
    }
}


// Checks if the value of a setting is equal to $value.
@mixin if-equal($setting-name, $value, $max) {
    $selector: ":nth-child("+$value+" of details.slider."+$setting-name+")[open]";
    @if $value < $max {
        @for $next-value from $value+1 through $max {
            $selector: $selector + " + :nth-child("+$next-value+" of details.slider."+$setting-name+"):not([open])"
        }
    }
    
    #{string.unquote($selector)} ~ p {
        @content;
    }
}
