// 
// AO3 Choices skin v2.0
// 
// Copyright © 2023-2024 ocremaker
// 
// Permission is hereby granted, free of charge, to any person obtaining a copy of 
// this software and associated documentation files (the “Software”), to deal in the
// Software without restriction, including without limitation the rights to use, copy,
// modify, merge, publish, distribute, sublicense, and/or sell copies of the Software,
// and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
// 
// The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
// 
// THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
// INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
// PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
// FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
// OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. 
// 

@use "../../config" as C;
$s-s: C.$states-separator;

#workskin {
    // Choices.
    & [class^="branch-"], & [class^="show-for-choice-"], // Hidden by default
    & a[name^="choice-"]:target ~ .hide-after-first-choice, & a[name^="choice-"]:target ~ span .hide-after-first-choice { // Hidden after the first choice.
        opacity: 0;
        transition: opacity 0.2s;
        position: absolute;
        z-index: -1;
        display: none;
    }
    // Register choices.
    @for $choicenum from 1 through C.$choice-count {
        & a[name^='choice-#{$choicenum}-']:target {
            & ~ .of-choice-#{$choicenum}, & ~ span .of-choice-#{$choicenum}, & ~ .show-for-choice-#{$choicenum} {
                display: unset;
            }
            // Show element for any branch for given choice.
            & ~ .show-for-choice-#{$choicenum}, & ~ span .show-for-choice-#{$choicenum} {
                opacity: 1;
                position: unset;
                display: unset;
            }
            // Lighten the clicked item.
            & ~ a:not([href^='#choice-#{$choicenum}-']), & ~ span a:not([href^='#choice-#{$choicenum}-']) {
                font-weight: normal !important;
            }
        }
    }
    
    // Register branches
    @for $branch from 1 through C.$branch-count {
        // Allow up to eight branches per choice
        & a[name^='choice-'][name*='-#{$branch}#{$s-s}']:target {
            // Show the branch
            & ~ .branch-#{$branch}, & ~ span .branch-#{$branch} {
                opacity: 1;
                position: unset;
            }
            // Bold the clicked item.
            & ~ a[href^='#choice-'][href*='-#{$branch}#{$s-s}'], & ~ span a[href^='#choice-'][href*='-#{$branch}#{$s-s}'] {
                font-weight: bold;
            }
        }
    }
    
    // Add the ability to disable animations.
    .disable-animations {
        transition: none !important;
    }
    
    // Hide anchor links.
    a[name^='choice-'] {
        display: none;
    }
}
