// 
// AO3 States skin v2.0
// 
// Copyright © 2023-2024 ocremaker
// 
// Permission is hereby granted, free of charge, to any person obtaining a copy of 
// this software and associated documentation files (the “Software”), to deal in the
// Software without restriction, including without limitation the rights to use, copy,
// modify, merge, publish, distribute, sublicense, and/or sell copies of the Software,
// and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
// 
// The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
// 
// THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
// INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
// PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
// FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
// OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. 
// 

@use "../../config" as C;

$s-s: C.$states-separator;

#workskin {
    // Default for when there is no active targeted element
    [class^="state"], [class*=" state"] {
        visibility: hidden;
        position: absolute;
    }
    
    :target {
        & ~ [class^="state"], & ~ [class*=" state"], & ~ span [class^="state"], & ~ span [class*=" state"] {
            visibility: unset;
            position: unset;
        }
    }

    // Any of
    .any-of[class*="state"] {
        display: none;
    }
    
    // Register states
    @for $state from 1 through C.$states-count {
        // The targeted element contains the state.
        a:not([name*='#{$s-s}s#{$state}#{$s-s}']):target {
            // If the current targeted element does NOT contain one of the states, hide the element
            & ~ :not(.any-of).state-#{$state}, & ~ span :not(.any-of).state-#{$state} {
                display: none;
            }
            
            // If the current targeted element does NOT contain AT LEAST of the negated states, show the element.
            & ~ .any-of.not-state-#{$state}, & ~ span .any-of.not-state-#{$state} {
                display: unset !important;
            }
        }
        
        // The targeted element does NOT contain the state.
        a[name*='#{$s-s}s#{$state}#{$s-s}']:target {
            // If the current targeted element contains AT LEAST one of the state, show the element.
            & ~ .any-of.state-#{$state}, & ~ span .any-of.state-#{$state} {
                display: unset !important;
            }
            
            // If the current targeted element contains one of the negated states, hide the element.
            & ~ :not(.any-of).not-state-#{$state}, & ~ span :not(.any-of).not-state-#{$state} {
                display: none;
            }
        }
    }
}
